.about-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.about-content {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    color: whitesmoke;
}

.about-content ul {
    list-style-type: none;
    padding: 0;
}

.about-content ul li {
    margin: 10px 0;
}

.edu-timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    color: black;
}

.edu-container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.edu-textbox{
    padding: 20px 30px;
    background: white;
    border-radius: 6px;
    font-size: 15px;
}

.edu-textbox h2{
    font-weight: 600;
}

.edu-textbox small{
    display: inline-block;
    margin: 15px;
}



.left{
    left: 0;
}

.right {
    left: 50%;
}


.edu-container img{
    position: absolute;
    width: 10%;
    border-radius: 50%;
    right: -35px;
    top: 32px;
    z-index: 10;
}

.right img{
    left: -24px;
}

.edu-timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    left: 50%;
    top: 0;
    margin-left: 3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes a {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 46px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #f1356d;;
    left: 560px;
}

.right-arrow {

    height: 0;
    width: 0;
    position: absolute;
    top: 46px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #f1356d;;
    right: 550px;
}

.edu-container.right .edu-textbox {
    margin-left: 10px; /* Add some margin to the left of the right-side text box */
}