.edu-timeline {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 30px;
    scroll-behavior: smooth;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #f1356d #333; /* Thumb and track colors */
}

.edu-timeline::-webkit-scrollbar {
    height: 8px; /* Scrollbar height */
}

.edu-timeline::-webkit-scrollbar-thumb {
    background: #f1356d; /* Thumb color */
    border-radius: 10px;
}

.edu-timeline::-webkit-scrollbar-track {
    background: #333; /* Track color */
}

.edu-item {
    flex: 0 0 auto;
    background: #333;
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.edu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.edu-date {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.exp-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    /* background-image: url('../assets/background.jpg'); */
    background-size: cover;
    background-position: center;
    position: relative;
}

.box {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.left-box {
    /*background-image: url('../assets/education.jpg');  */
    background-size: cover;
    background-position: center;
}

.right-box {
    /*background-image: url('../assets/experience.jpg'); */
    background-size: cover;
    background-position: center;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.box-content {
    color: whitesmoke;
    text-align: center;
    z-index: 2;
}

.box-content h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.box-content button {
    padding: 10px 20px;
    background: #f1356d;
    border: none;
    color: whitesmoke;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.box-content button:hover {
    background: #ff994f;
}

/* Content Sections */
.content-section {
    padding: 50px;
    background: #333;
    color: whitesmoke;
}

